.mouseOn{
  color: 	#4169E1;
  text-decoration:underline;
  cursor: pointer;
}

.clickNumber{
  filter:brightness(70%);
}

.page {
  display: inline-flex;
  align-content: stretch;
}

.cellphone__number {
  margin: 10px 0px;
  margin-left: 35px;

  line-height: 48px;
  min-height: 50px;
  font-size: 48px;
}

.cellphone__digits img {
  display: inline-block;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

#lockerTable{
  border-collapse: collapse;
}

.code{
  background-color:#eeeeee;
  border:1px solid black;
  height: 40px;
  min-width: 40px;
  cursor: pointer;
}

.lockerName{
  font-size: 150%;
  margin-right: 16px;
  flex-grow: 1;
}

.codeImage{
  margin-left: 16px;
}

.sidebar {
  flex-grow: 1;
  min-width: 196px;
  margin-right: 60px;
}

.menu {
  margin-left: 60px;
  margin-bottom: 60px;
}

.object{
  color:#32CD32;
} 
  
.chat {
  margin-top: 100px;
  margin-right: 60px;
  flex-grow: 3;
}

.chat__content {
  height: 350px;
  min-width: 854px;
  padding-bottom: 20px;
  overflow-y: scroll;
  border-left-style: solid;
  border-right-style: solid;
}

@media only screen and (max-device-width: 1024px) {
  .chat__content {
    min-width: 400px;
  }
}

.chat__users {
  position: absolute;
  height:350px;
  line-height:30px;
  background-color:#eeeeee;
  width:100px;
  padding:10px; 
}

.chat__foot{
  background-color:black;
  padding:5px; 
}

.chat__title{
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}

.chat__dialog {
  padding:10px; 
  margin-left:120px;
}

#time{color:#A9A9A9} 

hr {
  margin: 30px 0px;
}

.tryCode {
  cursor: pointer;
}