

.mouseOn{
  color: 	#4169E1;
  text-decoration:underline;
  cursor: pointer;
}

.clickNumber{
  filter:brightness(70%);
}

.page {
  display: inline-flex;
  align-content: stretch;
}

#phoneNumber{
  margin: 10px 0px;
  margin-left: 35px;

  line-height: 48px;
  min-height: 50px;
  font-size: 48px;
}

#phoneTable {
  table-layout: fixed;
}

#phoneTable img {
  display: inline-block;
  height: 60px;
  width: 60px;
}

#lockerTable{
  border-collapse: collapse;
}

.code{
  background-color:#eeeeee;
  border:1px solid black;
  height: 40px;
  width: 40px;
}

.lockerName{
  font-size: 150%;
  margin-right: 16px;
  flex-grow: 1;
}

.codeImage{
  margin-left: 16px;
}

.sidebar {
  flex-grow: 1;
  min-width: 196px;
  margin-right: 60px;
}

.menu {
  margin-left: 60px;
  margin-bottom: 60px;
}

.object{
  color:#32CD32;
} 
  
.chat {
  min-width: 860px;
  margin-top: 100px;
  margin-right: 60px;
  flex-grow: 3;
}

.chatTitle{
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}

.chatBody {
  padding:10px; 
  margin-left:120px;
}

#time{color:#A9A9A9}

.chatContent {
  height:350px;
  padding-bottom: 20px;
  overflow-y: scroll;
  border-left-style: solid;
  border-right-style: solid;
}

.chatName {
  position: absolute;
  height:350px;
  line-height:30px;
  background-color:#eeeeee;
  width:100px;
  padding:10px; 
}

.chatFoot{
  background-color:black;
  padding:5px; 
} 

hr {
  margin: 30px 0px;
}